.MessagesTop {
  bottom: 10px;
  color: #16397d;
  font-size: 13px;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  width: 352px;
  z-index: 9999;

  &.closeMessageTopClass {
    margin-top: -100px;
    opacity: 0;
    transition: 1s ease;
  }

  .content {
    align-items: center;
    background-repeat: no-repeat;
    background-size: 350px;
    color: #16397d;
    display: flex;
    height: 43px;
    margin: 0 auto;
    opacity: 0;
    opacity: 1;
    padding: 16px 10px 20px 90px;
    perspective: 1000px;
    right: 0;
    z-index: 6;

    &.success {
      animation: showContent 3s ease-out forwards;
      background-image: url("/images/backgrounds/message-top/02.svg");
    }

    &.error {
      background-image: url("/images/backgrounds/message-top/02.svg");
    }

    > * {
      width: 100%;
    }
    b {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .icon {
    animation: voltereta 2s ease-out forwards;

    transform-style: preserve-3d;

    left: 0;
    position: absolute;
    top: 0px;
    width: 77px;
    [alt="icon"] {
      position: relative;
    }

    .imgLights__container {
      animation: showContent 3s ease-out forwards;
      .imgLights {
        left: -30px;
        max-height: initial;
        max-width: inherit;
        position: absolute;
        top: -30px;
        width: 140px;
      }
    }
  }
}

@keyframes showContent {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes voltereta {
  0% {
    left: 200px;
    transform: rotateX(0deg);
  }
  50% {
    left: 200px;
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
    left: 0px;
  }
}
