.BottomSheets {
    background: white;
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 4px 8px 0px #92919129;
    color: white;
    height: max-content;
    opacity: 0;
    // padding: 10px 20px 90px 20px;
    position: absolute;
    right: 0;
    top: 59px;
    // transition: 1s ease-in-out;
    z-index: -1;
    @media screen and (max-width: 480px) {
        border-radius: 40px 40px 0 0;
        box-shadow: 4px 4px 8px 0px #929191;
        bottom: -240px;
        box-sizing: border-box;
        left: 0px;
        // padding: 10px 20px 90px 20px;
        position: fixed;
        right: initial;
        top: initial;
        width: 100%;
        z-index: 4;
        &.active {
            bottom: 0px;
        }
    }
    &.active {
        opacity: 1;
        right: -223px;
    }

    label {
        color: #a4a4a4;
        font-size: 16px;
    }

    .topLine {
        background: #dddddd;
        border-radius: 40px;
        display: block;
        height: 4px;
        margin: 0 auto;
        width: 50px;
        position: absolute;
        top: 14px;
        left: 0;
        right: 0;
    }

    .borderColor {
        align-items: center;
        column-gap: 20px;
        display: flex;
        justify-content: center;
        margin: 10px auto 0;
        padding: 10px 0;
        text-align: center;
        width: max-content;
        .items {
            column-gap: 10px;
            display: flex;
            margin: 10px auto 0;
            width: max-content;
        }
        .item {
            border-radius: 50%;
            box-shadow: 0px 0px 4px 2px #cdcdcd;
            cursor: pointer;
            height: 20px;
            margin-bottom: 10px;
            width: 20px;
            &.selected {
                box-shadow: 0px 0px 0px 2px #3095b3;
                border: solid 1px white;
            }
        }
    }

    .backgroundImage {
        display: flex;
        margin: 0px auto;
        padding: 0px 0 10px;
        text-align: center;
        width: max-content;
        align-items: center;
        column-gap: 20px;
        justify-content: center;
        .items {
            column-gap: 15px;
            display: flex;
            margin: 10px auto 0;
            width: max-content;
            @media screen and (max-width: 480px) {
                // display: block;
            }
            .item {
                height: 50px;
                img {
                    // box-shadow: 0px 0px 4px 2px #cdcdcd;
                    // border: #c93530 4px solid;
                    // border-radius: 0 10px;
                    cursor: pointer;
                    height: 50px;
                    width: 50px;
                }
                &.selected {
                    box-shadow: 0px 0px 0px 2px #3095b3;
                    border: solid 1px white;
                }
            }
        }
    }

    hr {
        border-top: transparent;
        border-bottom: 1px solid #e4e4e4;
    }

    .actions {
        margin: 10px 0;
    }
}

.elementToClose {
    background: rgba(0, 0, 0, 0.22);
    bottom: -100vh;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 3;
    &.active {
        bottom: 0;
    }
}
