.ButtonComponent {
  border-radius: 5px;
  border: none;
  display: inline-block;
  color: white;
  font-size: 14px;
  // height: 34px;
  // margin: 5px;
  overflow: hidden;
  padding: 4px 0;
  position: relative;
  text-shadow: 1px 1px #5a5a5a;

  &:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  &.disabled {
    background-color: grey;
  }

  &.pressed {
    box-shadow: inset 4px 4px 4px #0000004d !important;
  }

  &.fullWidth {
    text-align: center;
    width: 100%;
  }

  &.realistic:active {
    transform: translateY(8px);
    box-shadow:
      #0a6f84 0 0 0,
      #0a6f84b3 0 0 3px;
  }

  &.shine:before {
    animation-delay: 10s;
    animation: 3s linear infinite shine;
    background-image: linear-gradient(282deg, #fff0 30%, #fffc, #fff0 70%);
    content: "";
    height: 100%;
    left: -100px;
    position: absolute;
    top: 0;
    width: 40%;
  }

  @keyframes shine {
    0% {
      left: -100px;
    }
    20% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }

  &.border {
    border: 1px solid;
  }

  &.transparent {
    background-color: transparent;
    border-color: white;
  }

  &.normal {
    background: #a9a9a9;
    &.outline {
      background: transparent;
      border: 1px solid #0095b3;
      color: #0095b3;
      &:hover {
        background: #0095b3;
        color: white;
      }
    }
  }

  &.secondary {
    background: #ff9b51;
    &.realistic {
      box-shadow:
        rgb(226, 125, 46) 0px 5px 2px,
        rgb(234, 174, 127) 0px 5px 0px;
    }
  }

  &.darkBlue {
    background: rgb(14, 50, 102);
    button {
      color: white;
      font-weight: 600;
    }
  }

  &.blue {
    background: #521a93;
    &.outline button {
      $color: #056d82;
      text-shadow:
        2px 0 $color,
        -2px 0 $color,
        0 2px $color,
        0 -2px $color,
        1px 1px $color,
        -1px -1px $color,
        1px -1px $color,
        -1px 1px $color;
    }
    &.outline {
      background: transparent;
      border: 1px solid #0095b3;
      color: #0095b3;
      &:hover {
        background: #0095b3;
        color: white;
      }
    }
    &.realistic {
      box-shadow:
        #290d56 0 5px 2px,
        transparent 0 6px 0px;
    }
  }

  &.modal span {
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
  }

  &.main {
    background: #521a93;
  }

  &.red {
    background: #ed480c;

    &.outline {
      background: transparent;
      border: 1px solid #ed480c;
      color: #ed480c;
      &:hover {
        background: #ed480c;
        color: white;
      }
    }

    &.realistic {
      box-shadow:
        0 5px 2px #800900,
        0 6px #510c0c;
    }

    button {
      text-shadow: 1px 1px black;
      font-weight: 600;
    }
  }

  &.link {
    background: transparent;
    color: initial;
    font-weight: normal;
    text-decoration: underline;
    text-shadow: initial;
    &:hover {
      box-shadow: initial;
      :global(button) {
        background: transparent;
      }
    }
    &:global(.outline) {
      border: 1px solid white;
    }
  }

  &.green {
    background: #53c060;
  }

  &.disabled {
    background: #8a8a8a;
    box-shadow:
      0 5px 0px #b3b3b3,
      0 0px #eaae7f !important;
  }

  &.remove {
    display: none;
  }

  a {
    color: white;
    text-decoration: none;
  }

  :global(.MuiButtonBase-root) {
    // Boton de material UI
    color: inherit;
    font-size: inherit;
    height: 100%;
    line-height: 14px;
    margin: initial;
    // padding: 5px 10px;
    // text-transform: initial;
  }

  .text {
    align-items: center;
    display: flex;
    justify-content: center;
    svg {
      margin-left: 5px;
      transition: 0.2s ease-in;
    }
  }

  &.animation:hover {
    .text svg {
      transform: translateX(5px);
    }
  }

  button {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 8px 20px;
    text-decoration: inherit;
    text-transform: initial;
    width: 100%;
    span {
      height: calc(100% + 8px);
      top: -4px;
    }
  }
  // Iconos dentro del botón
  :global(svg) {
    // margin: -2px 2px -2px -2px;
    // position: relative;
    // right: -10px;
  }
}
