@import "../../styles/variables.scss";

.PreviewUser {
  // margin-left: 20px;
  position: relative;
  width: 70px;
  z-index: 4;
  // @media screen and (max-width: $tablet) {
  // border-radius: 10px 10px 0 0;
  // margin-left: initial;
  &.actived {
    .MenuOptionsComponent {
      // box-shadow: 90px 3px 2px #76767673;
      display: block;
      // left: 0;
    }
    .elementToCloseBgBlack {
      // right: 0;
    }
  }
  // }

  @media screen and (min-width: 1024px) {
    &:hover,
    &.actived {
      .MenuOptionsComponent {
        // display: block;
      }
    }
  }

  &.userLogged {
    // height: calc(100vh - 112px);
  }

  :global(.NotificationsNewIcon) {
    position: absolute;
    right: -8px;
    top: -8px;
  }

  // .notificationContainer {
  //   background: #f89f04;
  //   border-radius: 50%;
  //   box-sizing: border-box;
  //   height: 32px;
  //   padding: 6px;
  //   position: absolute;
  //   right: 90px;
  //   top: 27px;
  //   width: 32px;
  //   z-index: 1;
  //   &::before {
  //     background: #d6d6d6;
  //     // box-shadow: 1px 1px #cecece;
  //     content: "";
  //     height: 26px;
  //     position: absolute;
  //     left: 44px;
  //     top: -1px;
  //     width: 1px;
  //   }

  //   .notificationNew {
  //     background-color: red;
  //   }
  // }

  .coinsContainer {
    position: absolute;
    left: 90px;
    top: 30px;

    .experience {
      color: rgb(25 89 107);
      font-size: 14px;
      font-weight: bold;
      margin-top: 4px;
      position: relative;
      top: 0;
      display: block;
    }
  }

  .MenuOptionsComponent {
    background: radial-gradient(circle, rgb(82 89 95) 0%, rgba(36, 41, 46, 1) 100%);
    // border-radius: 0 10px 10px 0;
    // box-shadow: 0px 2px 2px #5252522e;
    color: white;
    display: none;
    font-size: 14px;
    position: fixed;
    // padding-top: 10px;
    left: 0px;
    top: 57px;
    // transition: 0.5s ease-in-out;
    max-width: 210px;
    width: 50%;
    z-index: 2;
    height: 100%;
    @media screen and (min-width: 420px) {
      left: -210px;
      margin: 0 auto;
      right: 0;
      // border-radius: 10px 0 0 0;
      // left: initial;
      // opacity: 1;
      // padding-right: 10px;
      // right: 210px;
      // top: 57px;
      // transform: none;
      // width: 220px;
    }
    @media screen and (max-width: 480px) {
      // height: 100%;
      // // box-shadow: 6px 0px 2px #76767673;
      // display: block;
      // position: fixed;
    }
    .favoriteSeller {
      background: #646464;
    }
    .downloadAppImage {
      color: transparent;
      display: block;
      height: max-content;
      margin: 10px auto 20px;
      object-fit: contain;
      width: 120px;
    }
    :global(.UserNotifications) {
      // right: 0px;
      position: absolute;
    }

    > ol {
      align-items: center;
      border-bottom: 1px solid #424950;
      display: flex;
      height: 44px;
      font-weight: 400;
      margin: 0 0;
      // padding: 0 20px 10px;
      padding-left: 20px;
      text-align: left;
      &:nth-of-type(1) {
        // margin-top: 20px;
      }

      // &.notLogged {
      //   height: max-content;
      //   padding: 8px 0 0 0;
      //   :global(.ButtonComponent) {
      //     width: 90%;
      //   }
      // }

      a {
        align-items: center;
        display: flex;
        color: white;
        justify-content: flex-start;
        @media screen and (max-width: 480px) {
          display: flex;
          align-items: center;
        }
        .icon {
          margin-right: 10px;
        }
        .coinContent {
          display: inline-block;
          margin-right: 10px;
        }
        :global(.Coins) {
          transform: scale(0.9);
        }
        img {
          margin-right: 10px;
          width: 30px;
        }
        &.disabled {
          color: grey;
          :global(img) {
            filter: grayscale(100%);
          }
        }
      }

      :global(svg) {
        height: 20px;
        margin-right: 10px;
        width: 20px;
      }

      .flex {
        align-items: center;
        display: flex;
        height: 20px;
        justify-content: space-around;
        margin: 0 auto;
        width: 80px;
      }

      .text {
        font-size: 12px;
        margin-top: 10px;
      }

      :global(.number-coins) span {
        // display: none;
      }
    }
  }

  :global(.UserNotifications) {
    box-sizing: border-box;
    font-family: system-ui;
    height: 100%;
    overflow-y: scroll;
    padding: 0 10px;
    position: fixed;
    right: 0;
    top: 57px;
    width: 50%;
    z-index: 2;
    // @media (min-width: 1024px) {
    //   margin: 20px 0 0 0;
    //   width: 220px;
    // }
    :global(ul) {
      overflow: initial;
    }
    :global(li) {
      display: block;
      margin-bottom: 10px;
      overflow: initial;
      padding: 10px 10px 58px;
      small {
        color: #cdcdcd;
        display: block;
        margin-bottom: 4px;
      }
      span {
        font-size: 14px;
        margin-bottom: 8px;
      }
      :global(.Coins) {
        float: right;
        margin: 4px 0px 0 0;
        padding: 6px 10px 6px 0;
        position: relative;
      }
    }
  }

  .bottomContainer {
    bottom: 60px;
    // left: 10px;
    position: absolute;
    a {
      align-items: center;
      column-gap: 10px;
      display: flex;
      justify-content: start;
      text-align: left;
    }
    .closeButton {
      // font-size: 14px;
      top: initial;
    }
  }
  // .elementToCloseBgBlack {
  //   height: 100vh;
  //   position: fixed;
  //   right: -100vw;
  //   top: 75px;
  //   width: 30%;
  // }

  :global(.btnLeftBottomMenu) {
    background: white;
    border-radius: 50%;
    border: none;
    bottom: 30px;
    box-shadow: 2px 1px 4px 0px #dadada;
    color: grey;
    padding: 4px 4px 2px 4px;
    position: fixed;
    right: 20px;
    // Para mostrarlo dentro de los margenes del celu en PC
    position: absolute;
    right: -140px;
    bottom: -10px;
    svg {
      font-size: 20px;
    }
  }
}

@keyframes like {
  100% {
    background-position-x: -8px;
  }
  0% {
    background-position-x: 292px;
  }
}
