// Fonts
// @import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

// Custom
@import "./variables.scss";
@import "react-medium-image-zoom/dist/styles.css";

@font-face {
  font-family: "Righteous";
  src: /* Modern Browsers */ url("/fonts/Righteous-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Dirtyboy";
  src: /* Modern Browsers */ url("/fonts/Dirtyboy-BxYl.ttf") format("truetype");
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 480px) {
  .actions button.nextStep {
    bottom: 80px;
    position: fixed;
    right: 20px;
    z-index: 2;
  }

  .actions button.previousStep {
    bottom: 80px;
    position: fixed;
    left: 20px;
    z-index: 2;
  }
}

.mobile {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
  }
}

.desktop {
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.guide_images {
  display: none;
  &.show {
    display: block;
  }
}

.svg-question {
  margin-left: 10px;
}

.MuiButton-label {
  text-transform: initial;
}

.block-center {
  margin: 0 auto;
  display: block;
}

.MuiButton-root {
  text-transform: initial;
}

button.MuiButton-containedPrimary {
  background-color: #ea4d42;
  height: 40px;
  text-transform: initial;
}

.image-gallery-content.bottom {
  display: flex;
  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}

.image-gallery-thumbnails-wrapper {
  margin: 0 -10px 0 10px;
  @media screen and (max-width: 480px) {
    display: none;
  }
}

button.image-gallery-thumbnail {
  display: block;
  border: none !important;
  margin: 10px 0;
}

.product_list {
  position: relative;
  margin: 20px 0px 40px;
  padding: 0px 10px 0;
  @media screen and (max-width: 480px) {
    margin: 0;
    padding: 0;
  }
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.ancho100 {
  width: 100%;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.banner_100 {
  margin: 0 0 20px;
}

.tachado {
  text-decoration: line-through;
}

.opaco {
  opacity: 0.5;
}

.page h2.main {
  // border-bottom: 2px solid #c93530;
  // border-radius: 0 10px 0 10px;
  margin: 0 auto 20px;
  text-align: center;
  top: 0px;
  // width: 300px;
  z-index: 2;
  @media screen and (max-width: 480px) {
    border-left: 4px solid #3095b3;
    margin-left: 10px;
    padding-left: 10px;
    width: max-content;
  }

  svg {
    // float: right;
    // margin-top: 2px;
    // transform: scale(1.2);
  }
}

.pointer {
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: center;
}

span.MuiBadge-badge {
  top: 5px;
  right: -5px;
}

@media screen and (min-width: 1024px) {
  #view_Header,
  #view_BottomNavBar,
  .view_Ayuda {
    margin: 0 auto;
  }
}

.loadingMoto {
  background: url(/images/gifs/ciudades.gif) white;
  padding: 50px;
  background-repeat: no-repeat;
  background-position: center;
  .icon {
    width: 50px;
    margin: 50px auto 0;
    display: block;
    animation: animacionLoading ease 2s infinite;
    position: relative;
    top: 45px;
    left: -140px;
  }
}

.caja_usuarios {
  height: 50px;
  text-align: left;
  float: right;
  width: 80px;
  width: calc(100% - 230px);
  margin: 10px 0 0 0px;
  overflow: hidden;
  padding: 5px;
  border-radius: 30px;
  margin: 0 10px 0 0;
  background: -webkit-linear-gradient(left, #f2f2f2c9 0%, #f2f2f2 100%);
  box-shadow: inset 2px 2px 0px 0px #d2d2d2;
}

._perfil,
._perfilVisitante {
  overflow: hidden;
  .imagen_ciudad {
    border-radius: 0px 30px 0 0;
    position: relative;
    margin: -50px 0 50px 0;
    width: 50%;
  }
  .imagen_club {
    border-radius: 30px 0px 0 0;
    position: relative;
    margin: 0px 0 50px 0;
    width: 50%;
  }
  .imagen_perfil {
    border-radius: 50%;
    margin: -100px auto 0;
    display: block;
    width: 80px;
    height: 80px;
    border: solid 4px #f4f4f4;
    position: absolute;
    right: 0;
    left: 0;
  }
}

// Toast
.Toastify__toast-container {
  border-radius: 10px;
  left: 10px;
  overflow: hidden;
  top: 10px;
  width: calc(100% - 20px);
}
/*
.Toastify__toast-container {
  color: white;
  font-size: 15px;
  .Toastify__toast {
    box-shadow: none;
    background: none;
    background-image: url("/images/backgrounds/camapanita.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #707070;
    height: 90px;
    font-weight: 400;
    padding: 22px 24px 8px 40px;
    text-align: center;
    @media screen and (min-width: 420px) {
      height: 97px;
    }

    .Toastify__close-button {
      display: none;
      margin-top: 6px;
      opacity: 1;
      svg {
        fill: rgb(184 16 11);
      }
    }

    .Toastify__toast-body {
      display: flex;
      font-size: 14px;
      margin: 0 0;
      padding: 0px 14px 0 0;
      width: 100%;
      @media screen and (min-width: 420px) {
        padding: 0;
      }

      div {
        display: flex;
        align-content: center;
      }

      img {
        float: left;
        margin: 4px 0 0 10px;
        width: 40px;
      }

      span {
        align-items: center;
        display: flex;
        margin: 0 4px 0 4px;
        text-align: center;
        width: 100%;
        &.error {
          color: #990d08;
        }
      }
    }

    .Toastify__progress-bar--wrp {
      // Barra de progreso
      border-bottom-left-radius: var(--toastify-toast-bd-radius);
      bottom: 2px;
      height: 5px;
      left: 0;
      margin: 0 auto;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      // width: calc(100% - 80px);
      @media screen and (min-width: 420px) {
        // bottom: 13px;
      }
    }
  }
}

#toast-container {
  font-family: "Staatliches", cursive;
  > div {
    top: 65px;
  }
}*/

.color-azul {
  color: #4d9afa;
}

.color-producto {
  color: var(--colorProducto);
}

.color-publicacion {
  color: var(--colorPublicacion);
}

.color-recomendacion {
  color: var(--colorRecomendacion);
}

.color-pregunta {
  color: var(--colorPregunta);
}

.color-todo {
  color: var(--colorTodo);
}

.color-actividad {
  color: var(--colorActividad);
}

.color-revision {
  color: var(--colorRevision);
}

.color-nuevo_usuario {
  color: #ff0080;
}

.avisoCookies {
  display: none;
  position: fixed;
  background: white;
  padding: 10px 20px;
  top: 55px;
  z-index: 99;
  margin: 0;
  max-width: 480px;
  box-sizing: border-box;
  top: 0;
  &:before {
    background: #353535b0;
    content: "";
    width: 100%;
    height: calc(100% - 210px);
    position: fixed;
    max-width: 480px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 152px;
  }
}

.p-n {
  padding: 0;
}

.pd-20 {
  padding: 20px;
}

.miClub {
  z-index: 11;
  position: fixed;
  border-radius: 50%;
  border: 2px solid #50adf8;
  overflow: hidden;
  height: 40px;
  width: 40px;
  box-shadow: 2px 1px 2px 0 #1e1e1e94;
  bottom: 100px;
  left: 20px;
  @media screen and (min-width: 1024px) {
    left: 100px;
  }
}

.add {
  right: 20px;
  z-index: 12;
  position: fixed;
  bottom: 100px;
  @media screen and (min-width: 1024px) {
    right: 100px;
  }
  svg {
    transition: 0.3s ease;
  }
  &.true {
    svg[data-icon="plus"] {
      transform: rotate(45deg);
    }
    .content_plus {
      background: #a1a1a1;
    }
    .opciones {
      right: 0;
    }
    .background {
      right: 0;
    }
  }
  .background {
    position: fixed;
    top: 0;
    right: -200vw;
    background: #0a0a0a;
    width: 400px;
    height: 100vh;
    opacity: 0.9;
  }
  .opciones {
    width: calc(100vw - 60px);
    overflow: hidden;
    padding: 20px;
    height: auto;
    position: absolute;
    color: black;
    list-style: none;
    bottom: 60px;
    right: calc(-100vw - 60px);
    font-size: 16px;
    border-radius: 15px 15px 5px 15px;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
    a {
      color: white;
      display: flex;
      margin-bottom: 20px;
      align-items: center;
      svg {
        margin-left: 10px;
        border-radius: 50%;
        background: white;
        padding: 8px;
        box-shadow: 2px 1px 2px 0 #1e1e1e94;
        height: 36px;
        width: 36px;
        box-sizing: border-box;
      }
    }
  }
  .content_plus {
    box-shadow: 2px 1px 2px 0 #1e1e1e94;
    background: #4d9afa;
    position: relative;
    padding: 14px 15px 0;
    color: white;
    border-radius: 50%;
    height: 30px;
  }
}

#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  // top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  bottom: 0px;
}

/* Fancy blur effect */

#nprogress .peg {
  display: block;
  // display: none;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px #29d,
    0 0 5px #29d;
  opacity: 1;
  // -webkit-transform: rotate(3deg) translate(0px, -4px);
  // -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(0deg) translate(0px, 0px);
}

/* Remove these to get rid of the spinner */

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: white;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.f-s-1e {
  font-size: 1em;
}

.f-s-2e {
  font-size: 2em;
}

.f-s-10 {
  font-size: 10px;
}

.f-s-12 {
  font-size: 12px;
}

.f-s-14 {
  font-size: 14px;
}

.notySuccess > div {
  background: #43a047;
}

#__next-prerender-indicator {
  display: none;
}

.o-v-h {
  overflow: hidden;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

main {
  min-height: 100vh;
  &.App {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &.darkMode {
    // background-image: url(/images/backgrounds/bg-gamer.jpg);
    background-attachment: fixed;
    &::before {
      // background: #0d0e32b5;
      background: #0d0e32f5;
      // background-image: url(/images/backgrounds/general-bg.png);
      // background: linear-gradient(to bottom, #000000, #2d3d96, #103967);
      content: "";
      height: 100%;
      left: 0;
      margin: 0 auto;
      max-width: 420px;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 0;
    }
    @media screen and (max-width: 480px) {
      // margin-top: 82px;
    }

    &::-webkit-scrollbar {
      width: 0px;
    }
  }
}

.ant-tabs-bar {
  margin: 0;
}

#awn-toast-container {
  bottom: initial;
  top: 200px;
}

section.page {
  // margin: 20px auto;
  box-sizing: border-box;
  // margin: 0px auto 90px;
  min-height: 100vh;
  overflow: hidden;
  padding: 56px 30px 120px;
  position: relative;
  .contentTitle,
  .contentSubTitle {
    margin: 12px 0 16px 0;
    position: relative;
    .backIcon,
    .heartIcon {
      background: white;
      border-radius: 50%;
      color: #19596b;
      margin-right: 10px;
      padding: 8px;
      // position: absolute;
      top: -6px;
    }
    h1,
    h2 {
      color: white;
      display: inline-block;
      margin-bottom: 0;
      margin: 0;
      padding-left: 20px;
      width: calc(100% - 60px);
    }
    h2.main {
      @media screen and (max-width: 480px) {
        display: inline;
        padding-left: 20px;
        text-align: initial;
      }
    }
  }
}

.cardTitle {
  padding: 20px 10px;
  overflow: initial !important;
  position: relative;
  margin-top: 30px !important;
  > h2 {
    font-family: "Staatliches", cursive;
    letter-spacing: 1px;
    z-index: 2;
    background: #4d9afa;
    color: white;
    margin: -25px 0px 0px 0px;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    border-radius: 5px;
    padding: 5px 20px;
    position: absolute;
    border-bottom: 2px solid #1e76e4;
    top: -30px;
    left: 20px;
  }
}

.t-a-c {
  text-align: center;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radius {
  border-radius: 50%;
}

.br-5 {
  border-radius: 5px;
}

.br-10 {
  border-radius: 10px;
}

.m-0 {
  margin: 0px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 10px;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-l-5 {
  margin-left: 5px;
}

#loading {
  text-align: center;
  color: white;
  background: #55608061;
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px;
}

.full-height {
  height: 100%;
}

.clear {
  clear: both;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

html {
  background-size: cover;
  height: 100vh;
  font-family: "Righteous";
  color: #fff;
  background-repeat: no-repeat;
  background-position: 0px -2px;
  background-attachment: fixed;
}

.h-100vh {
  height: 100vh;
}

.full-height {
  height: 100%;
}

.secunday-color {
  color: $secundary-color;
}

.p-r {
  position: relative;
}

.t-2 {
  top: 2px;
}

body {
  background: #f4f4f4;
  box-shadow: 0px 0px 2px 2px #dcdcdc;
  // font-family: "Montserrat", sans-serif;
  font-family: system-ui;
  // "Rowdies", cursive;
  font-weight: 300;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
  position: relative;
  margin: 0 auto;
  max-width: 420px;
  @media screen and (max-width: 480px) {
    margin-top: 0px;
  }

  .MuiTab-root {
    text-transform: initial;
  }
  &.black {
    background-color: black;
  }
}

.coupon-field input {
  text-transform: uppercase;
}

.font-a {
  font-family: "Montserrat", sans-serif;
}

.font-b {
  font-family: "Righteous", sans-serif;
}

.t-a-l {
  text-align: left;
}

.t-a-r {
  text-align: right;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-display: swap;
  outline: none !important;
  &::-webkit-scrollbar-track {
    background: #290d56ba; /* Fondo oscuro */
  }
  &::-webkit-scrollbar {
    // background-color: #f5f5f5;
    width: 2px; /* Para vertical */
    height: 2px; /* Para horizontal */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #740e9f;
    cursor: pointer;
  }
}

.scrollStyle {
}

:root {
  --colorProducto: #00897b;
  --colorRevision: #54d5bb;
  --colorActividad: #fdaf28;
  --colorPregunta: #9b59b6;
  --colorRecomendacion: #34495e;
  --colorPublicacion: #2980b9;
  --colorTodo: #fa685e;
}

.Card {
  background: white;
  border-radius: 10px;
  // box-shadow: 2px 2px 5px 0 #ababab52;
  box-shadow: 0px 0px 20px -2px #ababab52;
  box-sizing: border-box;
  color: #585858;
  display: block;
  margin: 0px auto 20px;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
  @media screen and (min-width: 1920px) {
    width: 400px;
  }
  @media screen and (min-width: 1024px) {
    width: auto;
  }
  @media screen and (max-width: 480px) {
    height: auto;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

svg.icon {
  // for icons
  max-width: 36px;
  max-height: 36px;
  width: 18px;
  height: 18px;
}

.primary-color {
  color: $primary-color;
}

.block {
  display: block;
}

a {
  // color: $secundary-color;
  text-decoration: none;
}

.text-ul {
  text-decoration: underline;
}

.image-gallery-thumbnails-wrapper {
  padding: 0 10px;
}

.image-gallery-thumbnails-container {
  @media screen and (max-width: 480px) {
    display: flex;
    justify-content: space-around;
  }
}

.image-gallery-content .image-gallery-slide img.image-gallery-image {
  // max-height: calc(100vh - 300px);
  // object-fit: contain;
}

.image-gallery-slide-wrapper {
  width: 698px;
  @media screen and (max-width: 480px) {
    width: initial;
  }
}

.close_icon {
  background: #f4f4f4;
  border-radius: 50%;
  color: #c93530;
  left: -30px;
  padding: 5px;
  position: absolute;
  top: 6px;
  transform: rotate(45deg);
  &:hover {
    cursor: pointer;
  }
}

.shadow-text {
  text-shadow: 0px -1px 3px #2a2a2a;
}

.shine {
  overflow: hidden;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    animation: shine 3s infinite linear;
  }
}

.animatedZoom {
  // Animar un elemento ampliando y reduciendo su tama침o con transici칩n
  animation: animatedZoom 3s infinite ease-in-out alternate-reverse;
  transform: scale(1, 1);
}

.MuiTabs-scroller {
  // Scroll horizontal
  overflow-x: scroll !important;
  scrollbar-color: transparent blue;
  // scrollbar-width: thin;
}

.starsFallingDown {
  // Estrellas de colores callendo sobre el elemento que tenga la clase
  &::after {
    background-image: url(/images/gifs/stars-colors.gif);
    background-size: 300px;
    content: "";
    height: calc(100% + 10px);
    left: 0;
    position: absolute;
    top: -10px;
    width: 100%;
  }
}

.rotating {
  animation: rotar 20s linear infinite; /* 2s de duraci칩n, animaci칩n infinita */
}

// General styles
.leagueBox {
  display: block;
  background: linear-gradient(#f4c376, #ba7821);
  border-radius: 4px;
  font-weight: 400;
  margin-top: 2px;
  padding: 0px 6px 2px;
  text-transform: capitalize;
  width: max-content;
  &.plate {
    background: linear-gradient(#f4c376, #ba7821);
    color: #000;
  }
}

// Animations

@keyframes rotar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shine {
  0% {
    left: -100px;
  }
  20% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes animatedZoom {
  0% {
    transform: scale(0.5, 0.5);
  }
  20% {
    transform: scale(1.2, 1.2);
  }
  40% {
    transform: scale(0.8, 0.8);
  }
  60% {
    transform: scale(1.1, 1.1);
  }
  60% {
    transform: scale(1, 1);
  }
}
