.WordChallenge {
  :global(.MuiPaper-root) {
    background-color: initial;
    border-radius: 10px;
  }

  :global(.MuiPaper-root) {
    // background-image: url(https://stateless-fueradefoco.storage.googleapis.com/wp-content/uploads/2021/05/30090736/Friends-Portada-1.jpg);
    background-image: url(/images/backgrounds/bg-ciudad-mallorquin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    :global(.MuiDialogContent-root) {
      // background: #292929ad;
      background: #4b718abd;
    }
  }

  .timer-wrapper {
    position: absolute;
    right: -40px;
    top: -40px;
    height: initial;
    width: initial;
    transform: scale(0.3);

    .bg {
      fill: none;
      stroke: #eee;
      stroke-width: 10;
    }

    .progress {
      fill: none;
      stroke: #00aaff;
      stroke-width: 10;
      transition: stroke-dashoffset 1s linear;
    }

    .timerText {
      font-size: 3em;
      fill: white;
    }
  }

  .title {
    color: #f79c01;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    text-shadow:
      2px 0 #2e2e2e,
      -2px 0 #2e2e2e,
      0 2px #2e2e2e,
      0 -2px #2e2e2e,
      1px 1px #2e2e2e,
      -1px -1px #2e2e2e,
      1px -1px #2e2e2e,
      -1px 1px #2e2e2e;
  }

  .subtitle {
    color: white;
    margin-bottom: 20px;
    text-align: center;

    span {
      background: linear-gradient(90deg, #74ffd0, #3ac8be);
      font-weight: bold;
      background-clip: text;
      display: inline-block;
      -webkit-text-fill-color: #0000;
    }
  }

  .question {
    color: white;
  }

  :global(.ButtonComponent) {
    button {
      color: white;
    }
  }
}

.wordChallengeInformation {
  span {
    background: linear-gradient(90deg, #74ffd0, #3ac8be);
    font-weight: bold;
    text-shadow: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
  }
}

.InputComponent {
  column-gap: 20px;
  display: flex;
  flex-direction: column;

  .inputContent {
    border-radius: 10px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    background-color: #6f00ef;

    &:has(input:focus) {
      background: linear-gradient(83.23deg, #feb154 -6.32%, #d263ee 23.89%, #5d5af6 67.88%, #09e0a0 107.67%),
        linear-gradient(0deg, #0000004d, #0000004d);
      // top: -1px;
    }

    input {
      border-radius: inherit;
      border: none;
      color: #521a93;
      font-size: 42px;
      height: 60px;
      position: relative;
      width: 40px;
      text-align: center;
    }
  }

  .errorMessage {
    color: white;
  }
}

.inputContainer {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.triviaOptions {
  // column-gap: 10px;
  // display: flex;
  // justify-content: center;
  margin: 0 auto;

  > * {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
    &.selected {
      background: linear-gradient(228deg, #7a0ba19e 0%, #003875 100%);
      color: white;
    }
  }
}
