.RankingComponent {
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .content {
    padding: 20px;
    position: relative;
    z-index: 1;

    h2 {
      color: white;
      margin: 0 0 20px;
    }

    // 3 primeros lugares
    .top {
      display: flex;
      justify-content: center;
      height: 260px;
      margin-top: 10px;
      width: 100%;

      > * {
        background-size: 100%;
        background-position: initial;
        background-repeat: no-repeat;
        height: 100%;
        // background-size: 350px 1020px;
        height: 360px;
        width: 100px;
      }

      :global(.ProfileImageComponent) {
        height: 60px;
        width: 60px;
      }

      .first {
        background-image: url(/images/elements/ranking-first.svg);
        position: relative;

        .crown {
          left: 12px;
          position: absolute;
          top: -12px;
          width: 30px;
          z-index: 2;
        }
      }

      .second {
        background-image: url(/images/elements/ranking-second.svg);
        padding-top: 40px;
      }

      .third {
        background-image: url(/images/elements/ranking-third.svg);
        padding-top: 70px;
      }

      .name {
        color: white;
        margin-top: 12px;
        text-align: center;
      }

      .points {
        margin-top: 2px;
        text-align: center;
      }
    }
  }

  .starIcon {
    top: 4px;
    color: #ffd800;
    position: relative;
  }

  .currentPosition {
    // background: #322462;
    display: none;
    color: white;
    border-radius: 4px;
    // font-weight: 600;
    margin: 10px auto 0;
    padding: 2px 4px;
    width: max-content;
  }

  .bg {
    background: linear-gradient(180deg, #220b49 0%, #531c83 80%);
    height: 100%;
    opacity: 1;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    .item {
      align-items: center;
      background-color: #ffffff4a;
      // background-color: #030c4b;
      // background-color: #07244c;
      // background: linear-gradient(to right, #673ab75e, #191a3a);
      // border-bottom: 1px solid #2c2c2c;
      // border-radius: 10px;
      // border-top: 1px solid #2c2c2c;
      // box-shadow: inset 0px 2px 2px 1px #1d1d1da1;
      border-bottom: 1px solid #ffffff1a;
      box-sizing: border-box;
      color: white;
      column-gap: 10px;
      display: flex;
      // height: 90px;
      justify-content: space-around;
      margin: 0 auto 0px;
      padding: 0px 10px 10px 20px;
      position: relative;
      width: 100%;
      &:first-child {
        box-shadow: none;
        border-radius: 10px 10px 0 0;
        .points {
          color: #32d4c2;
          font-weight: 600;
        }
      }
      &:last-child {
        border-radius: 0 0 10px 10px;
      }
      .number {
        font-weight: 600;
        margin: 10px 0 0 0;
        position: relative;
        .arrow {
          color: #3095b3;
          font-size: 18px;
          left: 0px;
          position: absolute;
          top: -17px;
          transform: rotate(90deg);
          &.down {
            color: red;
            transform: rotate(270deg);
          }
        }
      }
      .picture {
        height: 70px;
        &::before {
          // animation: moveSprite 2s infinite;
          // background-image: url(/images/sprites/red-fire.svg);
          // background-position: -40px -30px;
          // background-repeat: no-repeat;
          // background-size: 520px;
          // border: 1px solid red;
          // content: "";
          // display: block;
          // height: 56px;
          // left: 85px;
          // position: absolute;
          // top: 30px;
          // width: 46px;
          // z-index: 1;
        }
        picture {
          height: 50px;
          margin-top: 10px;
          width: 50px;
        }
      }
      .name {
        // color: #aeaeb1;
        // font-weight: bold;
        margin: 11px 0 0 0;
        // max-width: 80px;
        width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        // white-space: nowrap;
        div {
          // color: rgb(96, 96, 96);
          font-weight: initial;
          font-size: 13px;
        }
      }
      .leagueBox {
        margin-bottom: 10px;
      }
    }
  }

  .points {
    background: linear-gradient(90deg, #74ffd0, #3ac8be);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    // position: absolute;
    // right: 20px;
    // top: 30px;
  }

  :global(.ButtonComponent) {
    height: 40px;
  }

  .imgLights__container {
    animation: showContent 3s ease-out forwards;
    .imgLights {
      left: -20px;
      max-height: initial;
      max-width: inherit;
      position: absolute;
      top: -30px;
      width: 140px;
    }
  }
}

// @keyframes moveSprite {
//     0% {
//         background-position: -40px -30px;
//     }
//     16% {
//         background-position: -95px -30px;
//     }
//     32% {
//         background-position: -152px -30px;
//     }
//     48% {
//         background-position: -208px -30px;
//     }
//     64% {
//         background-position: -208px -30px;
//     }
//     80% {
//         background-position: -264px -30px;
//     }
// }
