.GalleryComponent {
    h2 {
        color: #7c3aed;
        font-size: 22px;
        text-align: center;
    }

    .items {
        display: flex;
        gap: 20px;
        height: 80px;
        margin: 10px auto 20px;
        div {
            height: 100%;
        }
        .item {
            border-radius: 10px;
        }
    }
}
