.Login {
    .header {
        background-image: url("/images/backgrounds/cortando-cabello.png");
        border-radius: 40px 40px 0 0;
        height: 200px;
        .text {
            background-color: #521a9387;
            border-radius: 10px 0 10px 0;
            width: 200px;
            left: 20px;
            top: 60px;
            position: relative;
            padding: 10px;
        }
    }

    .content {
        color: black;
        padding: 0px 20px;
        h2 {
            color: #7138c1;
        }
        .textFieldContent {
            img {
                position: absolute;
                margin: 26px 0 0 -40px;
            }
        }
    }
}
