section.Onboarding {
  background: #0e3368;
  // background-image: url(/images/backgrounds/general-bg.png);
  // margin: 0px auto 90px;
  width: calc(100%);
  .bannerCaribeConf2025 {
    // border-bottom: 1px solid #f79c01;
    border-radius: 10px;
    color: transparent;
    display: block;
    height: auto;
    left: -30px;
    margin: 10px;
    max-width: initial;
    position: relative;
    width: calc(100% + 40px);
    z-index: 2;
  }
  .cta {
    position: relative;
    z-index: 2;
    .inputContent {
      position: relative;
      margin: 0 auto;
      width: 240px;
      input {
        background: #0e3267;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border: none !important;
        border-radius: 10px;
        color: white;
        height: 22px;
        font-size: 16px;
        margin-top: 20px;
        padding: 10px;
        position: relative;
        width: 100%;
        z-index: 1;
        &::placeholder {
          color: white;
        }
      }
      &::after {
        content: "";
        background: linear-gradient(83.23deg, #feb154 -6.32%, #d263ee 23.89%, #5d5af6 67.88%, #09e0a0 107.67%),
          linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        border-radius: 10px;
        height: 46px;
        left: -2px;
        position: absolute;
        top: 18px;
        width: calc(100% + 24px);
      }
      .btnSend {
        // background-color: #eaeaea;
        border-radius: 5px;
        padding: 4px 4px;
        position: absolute;
        right: -26px;
        top: 14px;
        z-index: 1;
        svg {
          color: grey;
          font-size: 18px;
          position: relative;
          top: 1px;
        }
        :global(button) {
          padding: 7px 20px;
        }
      }
    }
  }
  .titleContent,
  .texts {
    .background {
      // background: linear-gradient(77deg, #c93530, #db7d79);
      background: linear-gradient(270deg, #7a0ba1 0%, #003875 100%);
      box-shadow: 2px 2px 0px #f8a713;
      border-radius: 40px;
      height: 200px;
      opacity: 0.5;
      position: absolute;
      top: 10px;
      transform: rotate(45deg);
      width: 200px;
      z-index: 1;
    }
  }
  .itemsPikplayCards {
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    row-gap: 20px;
    width: 100%;
    z-index: 3;
    .item {
      align-items: center;
      color: white;
      display: flex;
      flex-direction: column;
      height: 200px;
      justify-content: center;
      position: relative;
      text-align: center;
      width: 40%;

      text-shadow:
        2px 0 #2e2e2e,
        -2px 0 #2e2e2e,
        0 2px #2e2e2e,
        0 -2px #2e2e2e,
        1px 1px #2e2e2e,
        -1px -1px #2e2e2e,
        1px -1px #2e2e2e,
        -1px 1px #2e2e2e;
      &:nth-of-type(1) {
        overflow: hidden;
        .html {
          bottom: 44px;
          position: absolute;
        }
        img {
          color: transparent;
          height: 240px;
          left: 0px;
          max-height: initial !important;
          max-width: initial;
          position: relative;
          top: -20px;
          width: 80px;
        }
      }
      .html {
      }
      .background {
        // filter: blur(4px);
        position: absolute;
        z-index: -1;
      }
      .black_bg {
        // display: none;
        border-radius: 10px;
        background: #304ab34a;
        // filter: blur(2px);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
      }
      img.image {
        // filter: grayscale(100%);
        height: auto;
        margin: 0 auto 10px;
        // max-height: 70px;
        // width: 100px;
      }
      .green {
        color: aquamarine;
      }
      .yellow {
        color: #fcfc85;
      }
      .isCompleted {
        position: absolute;
        background: #245092;
        border-radius: 50%;
        border: 2px solid #2c7da6;
        box-shadow: 0px 0px 2px 1px #4e4e4e;
        height: 20px;
        right: 5px;
        top: 5px;
        width: 20px;
        svg {
          color: #21e509;
          position: relative;
          top: -2px;
          width: 20px;
        }
      }
      &.isCompleted,
      &.active {
        img {
          filter: grayscale(0%);
        }
      }
    }
  }
  img {
    // height: 390px;
  }
  .texts {
    color: white;
    margin: 30px auto 0;
    position: relative;
    width: calc(100% - 20px);
    z-index: 1;
    article {
      font-size: 16px;
      line-height: 22px;
      padding: 10px 20px;
    }
    .background {
      top: 0px;
      opacity: 0.5;
      right: -160px;
      z-index: -1;
    }
    :global(.Coins) {
      display: inline-block;
      margin: -6px 0 0 -0px;
      position: absolute;
      transform: scale(0.7);
    }
  }
  .aliados {
    margin: 0 0 40px;
    position: relative;
    z-index: 1;
    h2 {
      margin-bottom: 10px;
    }
    .categoriesContent {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      span {
        background: #292983;
        padding: 6px 6px 2px;
        display: block;
      }
    }
    .items {
      display: flex;
    }
    :global(.Card) {
      background: linear-gradient(228deg, #7a0ba19e 0%, #003875 100%);
      box-shadow: inset 1px 1px 2px 0px #c9c9c9;
      box-shadow: initial;
      color: white;
      display: flex;
      font-size: 14px;
      margin: 20px 10px 0px;
      padding-right: 6px;
      text-align: center;
      width: 100%;
      a {
        color: white;
        display: flex;
      }

      .sellerInformation {
        margin-right: 10px;
        width: 110px;
        b {
          display: block;
        }
        span {
          display: block;
        }
        :global(.ProfileImageComponent) {
          height: 80px;
          width: 80px;
        }
        .location {
          icon {
            margin-right: 2px;
            position: relative;
            top: 2px;
          }
        }
      }

      .products {
        display: flex;
        height: max-content;
        margin-left: 20px;
        padding-bottom: 2px;
        &.manyProducts {
          overflow-x: scroll;
          width: 204px;
          // &::-webkit-scrollbar-thumb {
          //   // background: linear-gradient(45deg, #ff416c, #ff4b2b); /* Degradado facherito */
          //   background-color: #c93530;
          //   border-radius: 5px;
          // }
          // &::-webkit-scrollbar {
          //   width: 2px; /* Para vertical */
          //   height: 2px; /* Para horizontal */
          // }
          // &::-webkit-scrollbar-track {
          //   background: #740e9f; /* Fondo oscuro */
          //   border-radius: 5px;
          // }
        }
        .itemProduct {
          position: relative;
          .label {
            background: linear-gradient(228deg, #7a0ba19e 0%, #003875 100%);
            border-radius: 10px;
            bottom: 10px;
            font-size: 12px;
            left: 10px;
            max-width: 100px;
            padding: 6px 10px;
            position: absolute;
          }
          img {
            border-radius: 10px;
            height: auto;
            margin-right: 6px;
            max-height: 170px;
            max-width: 170px;
            width: auto;
          }
          .price {
            background: #646464de;
            border-radius: 10px;
            bottom: 8px;
            padding: 2px 0px 2px 2px;
            position: absolute;
            left: 0px;
            transform: scale(0.7);
            label {
              left: 0;
              position: absolute;
              top: -20px;
              width: max-content;
            }
          }
        }
      }
      .sellerDescription {
        text-align: left;
      }
    }
  }

  .challenges{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  h2 {
    color: white;
    font-size: 24px;
    margin: 20px 0 0 40px;
    padding-top: 10px;
    position: relative;
    z-index: 2;
    // position: fixed;
    $color: rgb(46, 46, 46);
    // left: 0;
    // margin: 0 auto;
    // right: 0;
    // text-align: center;
    // top: 120px;
    color: white;
    text-shadow:
      2px 0 $color,
      -2px 0 $color,
      0 2px $color,
      0 -2px $color,
      1px 1px $color,
      -1px -1px $color,
      1px -1px $color,
      -1px 1px $color;
    > span {
      display: block;
      font-size: 20px;
      .text1 {
        color: aquamarine;
      }
    }
    small {
      display: block;
      font-size: 14px;
      font-weight: lighter;
      margin: 10px 0 0 0;
      width: 260px;
    }
  }
}

