.Coins {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: center;
  margin: 0 auto;
  width: max-content;
  &.withNumber {
    background: linear-gradient(to left, #ffaf02, #f56d05);
    border-radius: 20px;
  }
  &.animated {
    .coin {
      animation:
        rotate 0.6s steps(6) 2,
        appear 2s ease-in-out,
        pause 5s;
      // animation-iteration-count: infinite;
    }
  }
  .coinsContainer {
    margin-top: 2px;
    width: max-content;
  }
  .coin {
    // background-image: url("/images/sprites/coin-v1.png");
    background-image: url("/images/icons/coin.svg");
    // background-image: url("/images/gifs/monedas.png");
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: 210px;
    border-radius: 50%;
    display: inline-block;
    height: 31px;
    // margin: 0 0 0 4px;
    position: relative;
    // transition: 0.5s linear;
    width: 31px;

    // coin-v2
    background-size: 34px;
    height: 34px;
    width: 34px;
    &:nth-of-type(2) {
      right: 4px;
    }
    &:nth-of-type(3) {
      position: absolute;
      left: 20px;
      top: -25px;
    }
  }
  .multicoin {
    margin-left: -10px;
  }
  .number {
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    height: 20px;
    margin: 0 8px 0 5px;
    padding-right: 2px;
    position: relative;
    // text-shadow: 1px 1px #000;
    text-shadow: 1px 1px #a2a2a2;
    top: -2px;
  }

  label {
    font-family: revert;
    font-weight: 500;
    margin-left: 5px;
    text-shadow: 2px 2px #cbcbcb;
  }
}

@keyframes rotate {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -179px;
  }
}

@keyframes appear {
  0% {
    top: 0px;
  }
  20% {
    top: -10px;
  }
  40% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  70% {
    top: 0px;
  }
}

@keyframes pause {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
